<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>icon</key>
			<string>icon_nfc.png</string>
			<key>label</key>
			<string>电子车票</string>
			<key>action</key>
			<string>openNFC</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_invite.png</string>
			<key>label</key>
			<string>邀请好友</string>
			<key>action</key>
			<string>gotoInvite</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_clear.png</string>
			<key>label</key>
			<string>清除缓存</string>
			<key>action</key>
			<string>clearCache</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_feedback.png</string>
			<key>label</key>
			<string>意见反馈</string>
			<key>action</key>
			<string>gotoFeedback</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>icon</key>
			<string>icon_qq.png</string>
			<key>label</key>
			<string>客服QQ</string>
			<key>value</key>
			<string>qq</string>
			<key>action</key>
			<string>openQQ</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_wechat.png</string>
			<key>label</key>
			<string>官方微信</string>
			<key>action</key>
			<string>gotoWechat</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_phone.png</string>
			<key>label</key>
			<string>客服电话</string>
			<key>value</key>
			<string>mobile</string>
			<key>action</key>
			<string>openPhone</string>
		</dict>
		<dict>
			<key>icon</key>
			<string>icon_version.png</string>
			<key>label</key>
			<string>当前版本</string>
			<key>value</key>
			<string>version</string>
			<key>action</key>
			<string>gotoVersion</string>
		</dict>
	</array>
</array>
</plist>
